@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');
:root{
    font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
    height: 1px;
    width: 2px;

}
/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */
::-webkit-scrollbar-thumb {
    background: #d6d6d6;
}
::-webkit-scrollbar-thumb:hover {
    background: #b3b1b1;
    cursor: pointer;
}


input::-webkit-input-placeholder,
input::-webkit-input-placeholder-shown,
input::placeholder {
    background-color: var(--placeholder-color);
}

.sidebar {
    /* height: 100%; */
    overflow: hidden;
}

/* Hide the scrollbar */
.sidebar::-webkit-scrollbar {
    display: none;
}

.custom-swal-height{
    height: 300px;
    font-size: small;
}

.custom-swal-icon{
    font-size: 20px;
}