# Ignore node_modules in the root directory
node_modules/

# Ignore node_modules in the 'client' folder
./client/node_modules/

# Ignore env in the 'client' folder
./client/.env.development

# Ignore node_modules in the 'openai' folder
./openai/node_modules/

# Ignore env in the 'openai' folder
./openai/.env


# Ignore node_modules in the 'android' folder

./android/node_modules/




