

version: "3.8"

services:
  client:
    container_name: client
    restart: unless-stopped
    image: client-production:2.0.0
    build:
      context: client
      target: production
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    networks:
      - shared-network
    depends_on:
      - openai